*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select, dialog, form, label {
    font: inherit;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

#root, #__next {
    isolation: isolate;
}

ul, li {
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

/******************************/

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

a, h1 {
    font-family: "Oswald", sans-serif;
}

.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #2E323F;
    padding: 1em 0;
}


nav {
    position: absolute;
    visibility: hidden;
    height: 0;
}

.dropdown {
    position: absolute;
    border-radius: 50%;    
    height: 1.6em;
    width: 1.6em;
    background-color: #3B4050;
    color: white;
}

.logo {
    margin: 0 auto;
}

nav.nav--visible {
    position: relative;
    visibility: visible;
    height: auto;

    text-align: center;
}

.nav__link {
    color: white;
}

.nav__link:hover, 
.nav__link:focus {
    opacity: 0.6;
}

.nav__btn {
    background-color: #A59678;
    padding: 0.2em 0.7em;
    border-radius: 100px;
    vertical-align: middle;
}

.nav__list-item {
    margin: 1em;
}

.nav__list--primary {
    margin-bottom: 1.4em;
}

.section {
    padding: 2em 0;
}

/* Section One/Hero */

.hero {
    background-color: #3B4050;
    color: white;
}

.hero__title {
    font-size: 3rem;
}

.hero__text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 2em 0;
}

.hero__btn {
    background-color: #A59678;
    font-size: 1.3rem;
    padding: 0.3em 1.5em;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 900;
}

.hero__title--secondary-clr {
    color: #A59678;
}

/* Section Two */

.section-two {
    background-color: #f1f1f1;
    text-align: center;
}

.section-two__title {
    color: #A59678;
}

.section-two__text {
    margin: 1.5em 0 4em;
    font-family: "Montserrat";
}

/* Section Three */

.section-three {
    background-color: #FFFFFF;   
}

.section-three__title {
    color: #A59678;
    font-size: 2.45rem;
}

.section-three__text {
    margin: 1.5em 0;
}

.section-three__card {
    background-color: #3B4050;
    text-align: center;
    padding: 1.5em;
    margin: 1.3em 0;
    color: white;
    font-size: 0.85em;
}

.section-three__card__title {
    margin-bottom: 1em;
}

/* Section Four */

.section-four {
    background-color: #2E323F;
    color: lightgray;

    & h3 {
        color: #A59678
    }
}

.footer__title {
    color: white;
}

.footer__text-container {
    padding-top: 2em;
}

.footer__text-container__title {
    padding-bottom: 1em;
}

.footer__links-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer__link-column {
    margin-top: 2em;
}

.footer__link-item {
    margin-top: 1em;
    &:hover, &:focus {
         opacity: 0.6; cursor: pointer;
    }
}

/* Media Queries */

@media (min-width: 700px) {
    .section-two__text {
        padding: 0 2.5em;
        margin-right: auto;
        margin-left: auto;
        width: 85%;
    }

    .section-three__cards-container {
        display: flex;
        gap: 1em;
    }

    .dropdown {
        display: none;
    }

    .logo {
        margin: 0 auto 0 0;
    }

    .header__container {
        display: flex;
    }

    nav {
        position: relative;
        visibility: visible;
        height: auto;

        display: flex;
        gap: 2em;
    }

    .nav__list {
        display: flex;
        margin: 0;
        gap: 1em;
    }

    .nav__list-item {
        margin: 0;
    }
}

@media (min-width: 1000px) {
    .row {
        display: flex;
        justify-content: space-between;
    }

    /* Section One */

    .hero {
        display: flex;
        align-items: center;
        padding: 4em 0;
    }

    .hero__title {
        width: 50%;
        font-size: 4rem;
    }

    .hero__cta {
        width: 45%;
        margin: 0;
        align-self: flex-end;
    }

    .hero__text {
        margin: 2em 0;
        font-size: 1.25rem;
    }

    .hero__btn {
        font-size: 1.25rem;
    }

    /* Section Two */

    .section-two .col {
        width: 31%;
    }

    .section-two__title {
        font-size: 1.875rem;
    }

    .section-two__text {
        width: 100%;
        margin: 1.3em 0;
        padding: 0;
        font-size: 1.125rem;
    }

    /* Section Three */
    .section-three__cards-container {
        display: block;
        width: 30%;
    }

    .section-three__left {
        width: 60%;
    }

    .section-three__card {
        margin: 0 0 1em 0;
    }

    /* Section Four */

    .footer__title {
        text-align: center;
        font-size: 4rem;
    }

    .footer h3 {
        font-size: 1.3125rem;
    }
    
    .footer__link-item, .footer__text-container__text {
        font-size: 1rem;
    }
}